body {
    background-color: black;
    color: white;
}

img[src=""] {
    display: none;
}

.bg-img {
    position: fixed;
    top: 0;
    background: black;
    z-index: 1;
}

.bg-img img {
    opacity: 0.3;
}

.relative-items {
    position: relative;
    z-index: 10;
}

.title-style {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), #00000000);
    height: 72px;
}

.title-font-style {
    transition: 0.4s ease;
}

.title-font-style:hover {
    text-shadow: 0px 10px 5px black;
    font-size: 42px;
}

.tbody-style {
    background: #cbcbcbc7;
    backdrop-filter: blur(1px);
}

.prof-img {
    width: 30px;
    height: 25px;
    border-radius: 4px;
}

.table {
    --bs-table-hover-color: #e6e6e7 !important;
    --bs-table-hover-bg: rgb(0 0 0 / 40%) !important;
}

.spinner-size {
    font-size: 12px;
    width: 18px;
    height: 18px;
}